@import "../../variables.scss";

.page-container {
  display: flex;
  height: calc(1174 * 100 / 1080) + vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(64 * 100 / 1920) + vw;
  flex-shrink: 0;
  align-self: stretch;

  .blue-column {
    width: calc(280 * 100 / 1920) + vw;
    height: calc(1174 * 100 / 1080) + vh;
    background: #6a45ff;
    left: calc(820 * 100 / 1920) + vw;
    @media screen and (max-width: $layout-breakpoint-more-small) {
      background: rgba(106, 69, 255, 0.24);
      width: 40px;
    }
  }

  .cards-container {
    display: flex;
    width: 100vw;
    margin-left: calc(-820 * 100 / 1920) + vw;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    @media screen and (max-width: $layout-breakpoint-more-small) {
      padding: 0px 32px;
      flex-direction: column;
      gap: 24px;
    }
  }

  .page-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(8 * 100 / 1920) + vw;

    .page-desc-haeding {
      color: #fff;
      text-align: center;
      margin-top: calc(200 * 100 / 1080) + vh;
      font-family: Noto Sans;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 12px;
      @media screen and (max-width: $layout-breakpoint-more-small) {
        color: #6A45FF;
        font-size:24px ;
        margin-top: 80px;
      }
    }

    .page-desc-subtitle {
      color: #fff;
      text-align: center;
      margin-bottom: calc(64 * 100 / 1080) + vh;
      font-family: Noto Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 7.2px;
      @media screen and (max-width: $layout-breakpoint-more-small) {
        color: black;
        font-size:20px ;
      }
    }
  }
}
