@import "../../variables.scss";
.card-container {
  display: flex;
  height: calc(600 * 100 / 1080) + vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(40 * 100 / 1920) + vw;
  flex: 1 0 0;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: $layout-breakpoint-more-small) {
    min-height: 256px;
    width: 80vw;
    align-items: center;
    // transform: translateX(-25vw);
  }
  .card-number {
    color: #fff;
    text-align: center;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 7.2px;
    @media screen and (max-width: $layout-breakpoint-more-small) {
      display: none;
    }
  }

  .card-heading {
    max-width: calc(449.044 * 100 / 1920) + vw;
    color: #fff;
    text-align: center;
    font-family: Noto Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; 
    letter-spacing: 9.6px;
    @media screen and (max-width: $layout-breakpoint-more-small) {
      font-size: 20px;
      letter-spacing: 6px;
    }
  }

  .card-description {
    max-width: calc(434 * 100 / 1920) + vw;
    color: #FFF;
    text-align: center;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 1px;
    @media screen and (max-width: $layout-breakpoint-more-small) {
      font-size: 14px;
      letter-spacing: 0.6px;
      max-width: 60vw;
    }
  }
}
